<header class="head">
       
    <a href="###" class="head-box">
        <div class="head-photo">
            <img src="img/data_image_png;base….png" alt="图片出错了" >  
        </div>
        <div class="head-login">
            <p class="login-top">登录/注册</p>
            <p class="login-bottom">
                <i class="iconfont icon-shouji"></i>
                <span>登录后享受更多特权</span>
            </p>
        </div>
        <div class="arrows">
            <i class="iconfont icon-arrow-right-copy-copy"></i>
        </div>
    </a>
</header>