<main>
    <!-- 红包 start -->
    <section class="main-info">
        <div class="redpacket">
            <i class="iconfont icon-hongbao"></i>
            <p class="redpacket-txt">红包</p>
        </div>
        <div class="money">
            <i class="iconfont icon-jinbi"></i>
            <p class="money-txt">金币</p>
        </div>
    </section>
    <!-- 红包 end -->

    <!-- 我的地址start -->
    <section class="main-site">
        <a href="#" class="site">
            <div class="site-left">
                <i class="iconfont icon-dizhi"></i>
            </div>
            <div class="site-right">
                <p>我的地址</p>
                <i class="iconfont icon-arrow-right-copy-copy"></i>
            </div>
        </a>
    </section>
    <!-- 我的地址end -->

    <!-- 金币商城start -->
    <section class="main-gold">
        <a href="#" class="shop">
            <div class="shop-left">
                <i class="iconfont icon-tubiaozhizuomoban-"></i>
            </div>
            <div class="shop-right">
                <p>金币商城</p>
                <i class="iconfont icon-arrow-right-copy-copy"></i>
            </div>
        </a>
        <a href="#" class="gift">
            <div class="gift-left">
                <i class="iconfont icon-liwu-"></i>
            </div>
            <div class="gift-right">
                <p>分享拿10元现金</p>
                <i class="iconfont icon-arrow-right-copy-copy"></i>
            </div>
        </a>
    </section>
    <!-- 金币商城end -->

    <!-- 客服start -->
    <section class="main-download">
            <a href="#" class="service">
                <div class="service-left">
                    <i class="iconfont icon-kefu"></i>
                </div>
                <div class="service-right">
                    <p>我的客服</p>
                    <i class="iconfont icon-arrow-right-copy-copy"></i>
                </div>
            </a>
            <a href="#" class="elem">
                <div class="elem-left">
                    <i class="iconfont icon-changyonglogo40"></i>
                </div>
                <div class="elem-right">
                    <p>下载饿了么APP</p>
                    <i class="iconfont icon-arrow-right-copy-copy"></i>
                </div>
            </a>
            <a href="#" class="rule">
                    <div class="rule-left">
                        <i class="iconfont icon-ziyuan"></i>
                    </div>
                    <div class="rule-right">
                        <p>规则中心</p>
                        <i class="iconfont icon-arrow-right-copy-copy"></i>
                    </div>
                </a>
        </section>
        <!-- 客服end -->

        <!-- 隐私政策 -->
        <section class="privacy">
            <a href="">隐私政策</a>
        </section>
</main>